@model IEnumerable<Post>

<h1>@ViewBag.CategoryName</h1>

<a asp-action="Add" asp-controller="Post" asp-area="">Add a post</a>
<ul class="list-group col-12 col-sm-10">
    @foreach (Post post in Model)
    {
        <li class="list-group-item">
            <a asp-action="ViewPost" asp-controller="Home" asp-route-id="@post.PostId" class="text-dark"><b>@post.Title</b></a>
            <p>@post.DateCreated.ToString()</p>
        </li>
    }
</ul>